@model MVCCoreApp.Models.IndexModel
@{ 
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    <p>Hello from View!</p>
    <p>@Model.Message</p>
</head>
<body>
</body>
</html>