@model ASPNETCoreForm.Models.ProductEditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create</title>
</head>
<body>
    <h2>Create new Product</h2>

    <form asp-controller="Home" asp-action="Create" method="post">
        <label asp-for="Name"></label>
        <input type="text" id="Name" asp-for="Name" /> <br />

        <label asp-for="Rate"></label>
        <input type="text" id="Rate" asp-for="Rate" /> <br />

        <label asp-for="Rating"></label>
        <input type="text" id="Rating" asp-for="Rating" /> <br />

        <input type="submit" name="submit" />
    </form>
</body>
</html>