@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Employee Index</title>
</head>
<body>
    <h2>Hello from Employee Index</h2>
    <p>Index file of Employees folder</p>
</body>
</html>